<!DOCTYPE html>
<html>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Server Side Tic Tac Toe</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <a class="mdl-navigation__link" href="<%= root_path %>">Home</a>
      <a class="mdl-navigation__link" href="<%= stats_path(format: :json) %>">Stats (For nerds)</a>
      <a class="mdl-navigation__link" href="<%= matches_random_path %>">See a random match</a>
    </div>
  </header>
  <head>
    <title>FelipesServerSideTicTacToe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>

  <body>
    <div class="mega-box">
      <%= yield %>
    </div>
  </body>
</html>
